@{
    ViewData["Title"] = "Home Page";
}
<div>
        
</div>
<div class="welcome-section">
    <div class="section">
        <div class="welcome-content">
            <div class="welcome-top row">
                <div class="welcome-into-text col-md-6">
                    <h3 di>Everything you need to crack your Next Tech Interview</h3>
                        <button type="button" class="btn btn-primary">Share Your InterView Experience </button>
                </div>
                <div class="welcome-right-graphic col-md-6">
                    <img alt src="https://d2yjqys1j7uhg1.cloudfront.net/images/voice_interface.svg">
                </div> 

            </div>
        
        </div>

    </div>

</div>
